logs
project/project
project/target
target
tmp
.history
dist
.idea
*.iml
.idea_modules
.classpath
.project
.metadata
.cache
RUNNING_PID
.settings
*.class
derby.log
metastore
.DS_Store
project/.sbtserver
project/.sbtserver.lock
project/play-fork-run.sbt
project/sbt-ui.sbt
data/checkpoint
data/Divvy
.svn
tmp/**
.sass-cache
metastore_db
